@model CS4790TeamProject.Models.PurchaseOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Order Details</h1>

</br>

<div class="container col-12">
    <div class="row">
        <div class="col-6">
            <h5 style="text-align:center">
                @Html.DisplayNameFor(model => Model.Vendor.VendorName):
                @Html.DisplayFor(modle => Model.Vendor.VendorName)
            </h5>
        </div>
        <div class="col-6">
            <h5 style="text-align:center">
                @Html.DisplayNameFor(model => Model.Received):
                @if (Model.Received)
                {
                    <span style="color:green;font:bold">Received</span>

                }
                else if (Model.DeliveryDate.Day < DateTime.Now.Day)
                {
                    <span style="color:red;font:bold">Overdue</span>
                }
                else
                {
                    <span style="color:blue;font:bold">Pending</span>
                }
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h5 style="text-align:center">
                @Html.DisplayNameFor(model => Model.DateOrdered):
                @Html.DisplayFor(model => Model.DateOrdered)
            </h5>
        </div>
        <div class="col-6">
            <h5 style="text-align:center">
                @Html.DisplayNameFor(model => Model.DeliveryDate):
                @Html.DisplayFor(model => Model.DeliveryDate)
            </h5>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th style="text-align:center">
                Item
            </th>
            <th style="text-align:center">
                Quantity
            </th>
            <th style="text-align:center">
                U/M
            </th>
            <th style="text-align:center">
                Price
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (OrderItem item in Model.OrderItems)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.QuantityOrdered)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Item.Measure.MeasureName)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col">
        <a asp-action="Index" class="btn btn-info" style="padding-right:5em">Back</a>
    </div>
    <div class="col">
        <a @*asp-action="Edit" asp-route-id="@Model.PurchaseOrderId"*@ class="btn btn-success" style="padding-right:5em">Edit</a>
    </div>
    @if (!Model.Received) { 
    <div class="col">
        <a asp-action="Receive" asp-route-id="@Model.PurchaseOrderId" class="btn btn-primary">Receive</a>
    </div>
    }
    <div class="col">
        <a asp-action="Delete" asp-route-id="@Model.PurchaseOrderId" class="btn btn-danger">Delete</a>
    </div>
</div>
