@model CS4790TeamProject.Models.AssemblyRecipe

@{
    ViewData["Title"] = "Assemble";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Assemble</h1>

<div>
    <h4>AssemblyRecipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyRecipeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssemblyRecipeId)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssemblyRecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>