@model CS4790TeamProject.Models.ViewModels.AssemblyRecipeViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AssemblyRecipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            

            <div class="form-group">
                @*

                    Was being used to select an existing item to mark it as an assembly, but this shouldn't be in the end. 
                    Commenting out for now, but leaving here in case we need it.







                <label asp-for="itemID" class="control-label"></label>
                <select name="itemID" id="listbox">
                    @foreach (var item in Model.allItems)
                    {
                        <option value="@item.ItemId">
                            @item.ItemName
                        </option>
                    }
                </select>
                <span asp-validation-for="itemID" class="text-danger"></span>
                *@







                @*
                    I copied your table just to get the formatting down, this can change however we need it
                *@
                <table id="table_assemblies1" class="table table-striped table-bordered" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:150px">Id</th>
                            <th style="width:150px">Recipe</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>



                        @if (Model.recipeLines != null)
                        {
                            @foreach (var line in Model.recipeLines)
                            {
                                <tr>
                                    <td>@line.ItemID</td>
                                    <td>@line.RecipeLineId</td>
                                    <td><input type="button" value="Remove" onclick="Remove(this)" /></td>
                                </tr>
                            }
                        }



                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>

                @*
                    This is the drop down to select the item to add to the recipe.     
                *@
                <label asp-for="newLineItemID" class="control-label"></label>
                <select name="newLineItemID" id="listbox">
                    @foreach (var item in Model.allItems)
                    {
                        <option value="@item.ItemId">
                            @item.ItemName
                        </option>
                    }
                </select>

                @*
                    This is the button to add the item to the assembly recipe. Pressing this will call the method 'AddRecipeLineItem' in
                    the Assembly Controller, but doesn't pass anything to the method yet
                *@
                <input type="button" id="btnAddLine" value="Add Item To Recipe" onclick="location.href='@Url.Action("AddRecipeLineItem")'" />


                






                <table id="table_assemblies1" class="table table-striped table-bordered" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:150px">Id</th>
                            <th style="width:150px">Recipe</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.assemblyRecipe)
                        {
                            <tr>
                                <td>@item.AssemblyRecipeId</td>
                                <td>@item.RecipeName</td>
                                <td><input type="button" value="Remove" onclick="Remove(this)" /></td>
                            </tr>
                        }



                    </tbody>
                    <tfoot>
                        <tr>
                            <td><input type="text" id="txtName" /></td>
                            <td><input type="text" id="txtCountry" /></td>
                            <td><input type="button" id="btnAdd" value="Add" /></td>
                        </tr>
                    </tfoot>
                </table>
                <br />
                <input type="button" id="btnSave" value="Save All" />
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
                <script type="text/javascript">
                    $("body").on("click", "#btnAdd", function () {
                        //Reference the Name and Country TextBoxes.
                        var txtName = $("#txtName");
                        var txtCountry = $("#txtCountry");

                        //Get the reference of the Table's TBODY element.
                        var tBody = $("#table_assemblies1 > TBODY")[0];

                        //Add Row.
                        var row = tBody.insertRow(-1);

                        //Add Name cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(txtName.val());

                        //Add Country cell.
                        cell = $(row.insertCell(-1));
                        cell.html(txtCountry.val());

                        //Add Button cell.
                        cell = $(row.insertCell(-1));
                        var btnRemove = $("<input />");
                        btnRemove.attr("type", "button");
                        btnRemove.attr("onclick", "Remove(this);");
                        btnRemove.val("Remove");
                        cell.append(btnRemove);

                        //Clear the TextBoxes.
                        txtName.val("");
                        txtCountry.val("");
                    });

                    function Remove(button) {
                        //Determine the reference of the Row using the Button.
                        var row = $(button).closest("TR");
                        var name = $("TD", row).eq(0).html();
                        if (confirm("Do you want to delete: " + name)) {
                            //Get the reference of the Table.
                            var table = $("#table_assemblies1")[0];

                            //Delete the Table row using it's Index.
                            table.deleteRow(row[0].rowIndex);
                        }
                    };

                    $("body").on("click", "#btnSave", function () {
                        //Loop through the Table rows and build a JSON array.
                        var customers = new Array();
                        $("#table_assemblies1 TBODY TR").each(function () {
                            var row = $(this);
                            var customer = {};
                            customer.Name = row.find("TD").eq(0).html();
                            customer.Country = row.find("TD").eq(1).html();
                            customers.push(customer);
                        });

                        //Send the JSON array to Controller using AJAX.
                        $.ajax({
                            type: "POST",
                            url: "/Home/InsertCustomers",
                            data: JSON.stringify(customers),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (r) {
                                alert(r + " record(s) inserted.");
                            }
                        });
                    });
                </script>



            </div>

            <div class="form-group">

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



