@model IEnumerable<CS4790TeamProject.Models.AssemblyRecipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h1 style="text-align:left">Assembly</h1>
<br />
<p>
    <a asp-action="Create"><i class="fa fa-plus-circle" style="font-size:36px;"></i></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td class="btn btn-light">
                    @Html.ActionLink("Assemble", "Assemble", "Assembly", new { recipeID = item.AssemblyRecipeId }, null)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AssemblyRecipeId" class="btn btn-primary">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.AssemblyRecipeId" class="btn btn-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.AssemblyRecipeId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>













@*
            <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RecipeName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.RecipeName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AssemblyRecipeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AssemblyRecipeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AssemblyRecipeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
*@

