@model IEnumerable<CS4790TeamProject.Models.Vendor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h1 style="text-align:left">Vendors</h1>
<br />

<p>
    <a asp-action="Create"><i class="fa fa-plus-circle" style="font-size:36px;"></i></a>
</p>

<table id="table_vendor" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.VendorAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            -->
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <!---
    <td>
        @Html.DisplayFor(modelItem => item.VendorAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastModifiedBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastModifiedDate)
    </td>
    -->
        <td>
            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.VendorId">Details</a>
            <!--
    <a asp-action="Edit" asp-route-id="@item.VendorId">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.VendorId">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.VendorId">Delete</a>
    -->
        </td>
            <td>
                <a class="btn btn-info" asp-action="History" asp-route-id="@item.VendorId">Purchase History</a>
            </td>
        </tr>
}
    </tbody>
</table>


