@model CS4790TeamProject.Models.PurchaseOrder

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Vendor.VendorName
        </h4>
        @if (Model.Received)
        {
            <h5 style="text-align:center;color:green;font:bold">
                Received
            </h5>
        }
        else if (Model.DeliveryDate.Day < DateTime.Now.Day)
        {
            <h5 style="text-align:center;color:red;font:bold">
                Overdue!
            </h5>
        }
        else
        {
            <h5 style="text-align:center;color:blue;font:bold">
                Pending
            </h5>
        }
    </div>
    <div>
        <span class="card-text p-1">
            @Html.DisplayNameFor(model => Model.DateOrdered):
            @Html.DisplayFor(model => Model.DateOrdered)
            @if (!Model.Received)
            {
                <a asp-route-id="@Model.PurchaseOrderId" asp-action="Receive" class="btn btn-success btn-sm pull-right" style="margin-right:2em">Receive</a>
            }
            <a asp-route-id="@Model.PurchaseOrderId" asp-action="Details" class="btn btn-primary btn-sm pull-right" style="margin-right:5em">Details</a>
        </span>
    </div>
    <div>
        @if (!Model.Received)
        {
            @if (Model.DeliveryDate.Day < DateTime.Now.Day)
            {
                <span class="card-text p-1" style="color:red">
                    @Html.DisplayNameFor(model => Model.DeliveryDate):
                    @Html.DisplayFor(model => Model.DeliveryDate)
                </span>
            }
            else
            {
                <span class="card-text p-1">
                    @Html.DisplayNameFor(model => Model.DeliveryDate):
                    @Html.DisplayFor(model => Model.DeliveryDate)
                </span>
            }
        }
        else
        {
            <span class="card-text p-1">
                @Html.DisplayNameFor(model => Model.DeliveryDate):
                @Html.DisplayFor(model => Model.DeliveryDate)
            </span>
        }
    </div>
</div>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        background-color: #e3e3e3;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
</style>