@model IEnumerable<CS4790TeamProject.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Reorder">To Reorder</a>
</p>

<form asp-controller="Inventory" asp-action="Index" method="get">
    <p>
        Part Name: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
        
    </p>
</form>
<form asp-controller="Inventory" asp-action="Index" method="get">
    <p>
        <input type="submit" value="Clear Search Results" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnhandQty)
            </th>
            <th>
                In transit
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderQty)
            </th>
            <th>Assemble</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ItemId">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnhandQty)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderQty)
            </td>
            <td>
                <a asp-action="Assemble" asp-route-id="@item.ItemId">Assemble</a>
            </td>
            @*
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>*@

        </tr>
}
    </tbody>
</table>
