@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <li class="card" style="margin:10px;">
            <a class="indexItems" href="@Url.Action("Index", "Inventory")" style="padding:50px;"><span>Inventory</span></a>
        </li>
        <li class="card"  style="margin:10px;">
            <a class="indexItems" asp-page="/Orders/Index" style="padding:50px;"><span>Purchase Orders</span></a>
        </li>
        <li class="card"  style="margin:10px;">
            <a class="indexItems" href="@Url.Action("Index", "Assembly")" style="padding:50px;"><span>Assemble</span></a>
        </li>
        <li class="card"  style="margin:10px;"> 
            <a class="indexItems" href="@Url.Action("Index", "Vendors")" style="padding:50px;"><span>Vendor</span></a>
        </li>
        <li class="card"  style="margin:10px;">
            <a class="indexItems" href="@Url.Action("Assemble", "Inventory")" style="padding:50px;"><span>Alerts</span></a>
        </li>
        <li class="card"  style="margin:10px;">
            <a class="indexItems" href="@Url.Action("Assemble", "Inventory")" style="padding:50px;"><span>Reports</span></a>
        </li>
    </ul>
    
</div>
